<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>学習ログ</h2>
    <table border="1">
    <tr>
        <th>日付</th>
        <th>開始時刻</th>
        <th>学習時間（分）</th>
        <th>気分</th>
    </tr>
    {% for log in logs %}
    <tr>
        <td>{{ log[0] }}</td>
        <td>{{ log[1] }}</td>
        <td>{{ log[2] }}</td>
        <td>{{ log[3] }}</td>
    </tr>
    {% endfor %}
    </table>

</body>
</html>
